.career-detail {
  max-width: 1200px;
  min-height: calc(100vh - 62px - 72px);
  margin: 0 auto;
  margin-top: 62px;
}

.chart-container {
  background: white;
  padding: 1rem;
  border-radius: 8px;
}
