.dashboard {
  max-width: 1200px;
  min-height: calc(100vh - 62px - 72px);
  margin: 0 auto;
  margin-top: 62px;
}

.dashboard .nav-link {
  border-radius: 0px;
  margin-bottom: 4px;
}

.nav-link {
  color: black;
}

.nav-pills .nav-link.active {
  background-color: var(--primary-color) !important;
}